<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="isDataAvailable">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Employee Name</th>
    <td mat-cell *matCellDef="let element">{{ element.employeeName }}</td>
  </ng-container>
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Role</th>
    <td mat-cell *matCellDef="let element">{{ element.role }}</td>
  </ng-container>
  <ng-container matColumnDef="Start Date">
    <th mat-header-cell *matHeaderCellDef>Start Date</th>
    <td mat-cell *matCellDef="let element">{{ element.date.startDate | date }}</td>
  </ng-container>
  <ng-container matColumnDef="End Date">
    <th mat-header-cell *matHeaderCellDef>End Date</th>
    <td mat-cell *matCellDef="let element">{{ element.date.endDate | date }}</td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="openEditDialog(element)" color="primary">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="delete(element)" color="warn">
        <mat-icon>delete</mat-icon>
      </button> 
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
